* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(144, 245, 131), rgb(24, 148, 75), rgb(15, 139, 92), rgb(2, 80, 2));
}

/* .outcontainer {
    padding: 10px;
    margin-top: 100px;
    width: 400px;
    border-radius: 10px;
    /* Adjust this value for the desired roundness */
/* } */

.form-group {
    padding: 10px 0;
    /* Add padding to each form group */
}

#loginForm button {
    margin-top: 20px;
    /* Add margin to the top of the button */
}

#email {
    border :rgb(139, 139, 255) solid 1px;
}

#password {
    border :rgb(139, 139, 255) solid 1px;
}