* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(144, 245, 131), rgb(24, 148, 75), rgb(15, 139, 92), rgb(2, 80, 2));
}

.outcontainer {
    padding: 10px;
    margin-top: 100px;
    width: 400px;
    border-radius: 10px;
}

.form-group {
    padding: 10px 0;
}

#regForm button {
    margin-top: 20px;
}